<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <link rel="stylesheet" href="../resources/css/jquery-ui.min.css"/> 
        <link href="../resources/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"/>
        <!-- Autocomplete CSS file -->
        <link rel="stylesheet" href="../resources/css/easy-autocomplete.css"/> 
        <!-- Additional CSS Themes file - not required-->
        <link rel="stylesheet" href="../resources/css/easy-autocomplete.themes.min.css"/> 
            
            
        <!-- include summernote css/js -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet"/>
         
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="../resources/js/jquery-ui.min.js"/>
        
        <!-- include summernote js -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"/>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"/>
        
        <!-- Autocomplete JS file -->
        <script src="../resources/js/jquery.easy-autocomplete.min.js"/>
        
    </head>
    <body id="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dined</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"/>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Indices
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="places.html">Places</a>
                            <a class="dropdown-item" href="persons.html">Persons</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <br/>
        <div id="content" class="container"/>
        
        <footer class="footer">
            
            <div class="container">
                <span class="text-muted">Powered by eXist-db</span>
            </div>
            
        </footer>
    </body>
    
</html>